<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Formualire</title>
    <link rel="stylesheet" href="cv.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <form>
      <h1>Please complete this form to download my CV</h1>
      <div class="separation"></div>
      <div class="corps-formulaire">
        <div class="gauche">
          <div class="groupe">
            <label>Votre Nom Prénom *</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-user"></i>
          </div>
          <div class="groupe">
            <label>Votre adresse e-mail *</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-envelope"></i>
          </div>
          <div class="groupe">
            <label>Votre téléphone *</label>
            <input type="text" autocomplete="off" />
            <i class="fas fa-mobile"></i>
          </div>
          <div class="groupe">
            <label>Votre entreprise</label>
            <input type="text" autocomplete="off" />
            <i class="fa fa-building"></i>
            <a href ="https://bit.ly/cv_izakalii" download ="cv.txt"><br>Cliquez ici</a>
          </div>
          <h1>* Required Field</h1>
        </div>

        
    </form>
  </body>
</html>



